@tailwind base;
@tailwind components;
@tailwind utilities;

.ct-topmenu-expanded {
  @apply absolute z-50 animate-slideLeft;
}

.ct-slide-down{
  @apply block animate-slideDown
}

.product-item{
  @apply basis-1/3 overflow-hidden mb-5 relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-dark hover:after:w-full transition ease-in-out after:duration-500 hover:after:duration-500;
}

.blog-item{
  @apply max-w-[600px] mb-10
}

.parallax-section {
  background-image: url('/img/about-us-parallax.jpg');
  background-size: cover;
  background-position: center;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
